pip
setuptools
wheel
cython

fastapi
uvicorn[standard]
python-multipart

# Use lighter spaCy version to avoid source builds
spacy

PyMuPDF
python-docx
extract-msg
requests
python-dotenv
email-validator
numpy
sentence-transformers
faiss-cpu
google-generativeai
